html, body {
  width: 100%;
  min-width: 300px;
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.gather {
  background-color: #11531f;
  color: white;
}
.gather:hover {
  background-color: #cfeeee;
  color:#11531f
}

.cluster {
  background-color: #11531f;
  color: white;
}
.cluster:hover {
  background-color: #cfeeee;
  color:#11531f
}

.saver {
  background-color: #E5F2F2;
}
.saver:hover {
  background-color: #BFF2F2;
}


.getter {
  background-color: #FBFBC9;
}
.getter:hover {
  background-color: #DAEA9D;
}

.dgetter {
  background-color: #FBFBC9;
}
.dgetter:hover {
  background-color: #EAEA9D;
}


.wgather {
  background-color: #11531f;
  color: white;
}
.wgather:hover {
  background-color: #cfeeee;
  color:#11531f
}


.wsaver {
  background-color: #E5F2F2;
}
.wsaver:hover {
  background-color: #BFF2F2;
}


.wgetter {
  background-color: #fbefc9;
}
.wgetter:hover {
  background-color: #ffff90;
}


.fun-click-magic {
  background-color: #f7f0d8;
  border:#064614 solid 1px;
  color: rgb(131, 148, 106);
}

.fun-click-magic:hover {
  background-color: #fada9f;
  border:#3c3068 solid 1px;
  color: rgb(14, 241, 101);
}


.dashboard_getter {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  
  border: solid 1px black;
  background-color: #FBFBC9;
  color:#064614;
}
.dashboard_getter:hover {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;

  border: solid 1px black;
  background-color: #ffe56f;
  color:#960d03;
}


.help_getter {
  background-color: #FBFBC9;
  color:#064614;
}
.help_getter:hover {
  background-color: #ffe56f;
  color:#960d03;
}

.do_clear {
  color:#064614;
}
.do_clear:hover {
  background-color: #EAEA9D;
  color:#064614;
}

.do_undo {
  color:#064614;
}
.do_undo:hover {
  background-color: #EAEA9D;
  color:#064614;
}


.counter_box {
  margin-left: 4px;
  margin-right: 4px;
  padding: 2px;
  color: rgb(39, 33, 73);
  font-size: 75%;
}


 /* Style the tab */
 .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 

.PhIOtjDr_0 {
  fill:none;
  stroke:#1c1448;
  stroke-width:4.59875107;
  stroke-miterlimit:4;
  stroke-dasharray: 2948 2950;
  stroke-dashoffset: 2949;
  animation: PhIOtjDr_draw 6666ms ease-in forwards;
}

@keyframes PhIOtjDr_draw {
  100% {stroke-dashoffset: 0}
}

@keyframes PhIOtjDr_fade {
  0% {stroke-opacity: 1}
  97.1830985915493% {stroke-opacity: 1}
  100% {stroke-opacity: 0}
}

